argo-cd:
  installCRDs: false
  global:
    image:
      tag: v2.0.3
  dex:
    enabled: false
  controller:
    args:
      appResyncPeriod: "300"
  server:
    config:
      repositories: |
        - type: helm
          name: stable
          url: https://charts.helm.sh/stable
        - type: helm
          name: argo-cd
          url: https://argoproj.github.io/argo-helm
